sudo: false

language: php

matrix:
  fast_finish: true
  include:
    - php: 7.0
      env:
      - CS_CHECK_ENABLED: false
    - php: 7.1
      env:
      - CS_CHECK_ENABLED: true

before_install:
  - php -n `which composer` self-update
  - if [[ $CS_CHECK_ENABLED == 'true' ]]; then composer require squizlabs/php_codesniffer:~2.5; fi

install:
  - php -n `which composer` install --prefer-source --no-interaction
  - if [[ $CODE_COVERAGE_LOG == 'true' ]]; then mkdir -p ./coverage; fi

script:
  - ./vendor/bin/phpunit --verbose
  - if [[ $CS_CHECK_ENABLED == 'true' ]]; ./vendor/bin/phpcs --standard=PSR2 --ignore=vendor/* --ignore=*/Fixures src tests; fi

notififation:
  on_success: never
  on_failure: always
